
.header-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: skyblue;
  height: 80px;
  margin: 0;
  padding: 0 20px;
}

.links {
  display: flex;
  gap: 10px;
}

h1 {
  margin: 0;
  padding: 0;
}
