<p>Essa é a primeira pagina de clientes</p>

<ul *ngFor="let cliente of clientes">
  <li>{{cliente.nome}} - {{cliente.id}}</li>
</ul>

<label>Nome:</label>
<br>
<input [(ngModel)]="nome">
<br>
<button (click)="adicionar()">Adicionar</button>

<!-- <hr> -->

<div>
  <div *ngIf="clientePremium" style="margin: 20px;">
    <p>Acesso liberado!</p>
  </div>

  <div *ngIf="!clientePremium" style="margin: 20px auto;">
    Assine o premium para full acesso.
  </div>

  <button *ngIf="!clientePremium" (click)="clientePremium = true">Assinar</button>
</div>

<hr>

<h2 style="text-align: center;">Exemplo de pipes para formatacao de dados</h2>

<p>Data: {{ data | date: 'long' | uppercase }}</p>
<p>Currency: {{ moeda | currency: 'GBP' }}</p>
<p>Uppercase customizado: {{ nome | customUppercase }}</p>
